$background: #efefef;;
$light-blue: #82C2D7;
$blue: #57B7D7;
$dark-blue: #074B61;

$white: #FFF;

$headerHeight: 8rem;
$radius: 4px;

$shadow: 0 0 7px rgba(130, 194, 215, 0.5);
$shadow-hover: 0 0 25px rgba(130, 194, 215, 0.7);
$transition-time: .3s;