@import "../../vars";

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  background-color: $blue;
  padding: 4rem;
}

.leftSide {

}

.rightSide {

}

.logo {
  font-size: 2.8rem;
  color: $white;
}

.search {

}

.buttonsRow {

}

.avatar {

}